@font-face {
    font-family: "mapoDPP";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/mapoDPP/mapoDPP.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/mapoDPP/mapoDPP.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/mapoDPP/mapoDPP.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/mapoDPP/mapoDPP.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/mapoDPP/mapoDPP.ttf") format("truetype");
    font-display: swap;
}
.mapoDPP {
    font-family: "mapoDPP";
}